<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="angajatiFileName" value="..\\..\\..\\Data\\angajati.txt"/>
    <add key="sarciniFileName" value="..\\..\\..\\Data\\sarcini.txt"/>
    <add key="pontajeFileName" value="..\\..\\..\\Data\\pontaje.txt"/>
  
  </appSettings>
</configuration>